<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="RE. Wilson">
    <meta name="description" content="Website">
</head>

<body>
    This is the layout.ejs file <br>
    <%- body %>
</body>

</html>